body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0d003d;
    color: white;
    padding: 40px;
}

.lugar {
    border: 1px solid #00014e;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.lugar img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
